.btn-primary {
  background-color: #db56eb;
  border-color: #db56eb;
}

.btn-primary:hover {
  background-color: #6054A1;
  border-color: #6054A1;
}

.drop-shadow {
  filter: drop-shadow(10px 0px 4px #fffb0056);
}

.no-select {
  user-select: none;
}

.bg-primary {
  background-color: #ffc107c8 !important;
}

.dropdown-item:active, .dropdown-item:hover {
  background-color: #ffc107c8 !important;
}

.navsep{
  border-left-width: 2px;
  border-color: #fff;
}

tbody > tr:hover > * {
  background-color: #ffff !important;
  color: black !important;
}